* {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: 8px;
  scrollbar-color: transparent;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  /* background: rgba(128, 128, 128, 0.2); */
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  /* background: rgba(128, 128, 128, 0.5); */
  background-color: rgba(0, 0, 0, 0.4);
}
